doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
      a(href="/") Index
      span &nbsp;|&nbsp;
      a(href="/home") Home
      span &nbsp;|&nbsp;
      a(href="/networth") Net worth
      span &nbsp;|&nbsp;
      a(href="/transactions") Transactions 
      span &nbsp;|&nbsp;
      a(href="/budgeting") Budgeting 
      span &nbsp;|&nbsp;
      a(href="/reporting") Reporting 

    block content
