extends layout

block content
  h1= locals.title
  p Login page
  div
    form(method="post", action="/session")
      input(type="hidden", name="_csrf", value=locals._csrf)
      label Email or user name
        input(type="text", name="username")
      label Password
        input(type="password", name="password")
      button(type="submit") Login
