extends layout

block content
  h1= title
  p Login page
  div
    form(method="post", action="/session", name="login_form")
        label Email or user name
            input(type="text", name="username")
        label Password
            input(type="password", name="password")
        button(type="submit") Login
