
extends layout-user

block content
  h1= title
  p Calculation networth

  div
    form(action='/networth' method='post')
      label Name
        input(type='text')
      label Amount
        input(type='text')
      button(type='submit') Save
