
extends layout-user

block content
  h1= title
  p Calculation networth

  div
    form(action='/networth' method='post')
      label Name
        input(type='text' id='name')
      label Amount
        input(type='text' id='amount')
      label Last 4 digit of the account numbers
        input(type='text' id='last4digit')

      button(type='submit') Save
