extends layout

block content
  h1= title
  p Register page
  div
    form(method="post", action="/signup", name="signup_form")
        input(type="hidden", name="_csrf", value=locals._csrf)
        label
            input(type="text", name="signup_email")
        label
            input(type="text", name="signup_name")
        label
            input(type="password", name="signup_password")
        button(type="submit") Register
